.searchContainer {
    width: 95%;
    padding: 1rem;
}

.searchForm {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.formItem {
    margin: .5rem;
}

.resultsContainer {
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    .searchContainer {
        width: 100%;
        padding: 0;
    }
}