.error {
    color: orangered;
    font-weight: bold;
}

.progress {
    display: flex;
    justify-content: center;
}

.searchResults {
    min-width: 360px;
}

.MuiDataGrid-row:hover {
    cursor: pointer;
}